@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    margin: 0;
    width: 100%;
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

body {
    margin: 0;
    max-width: 1200px;
    font-family: 'Montserrat', Times, serif;
    /* display: flex;
    flex-direction: column; */
}

.header {
    background-color: black;
    min-width: 100%;
    min-height: 90px;
    z-index: 5000;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.headerTop {
    height: 138px;    
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: left;
}

.LogoText {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 3.5em;
    color: white;
}
@media screen and (max-width: 1200px) {

    .LogoText{
        font-size: 2.2em;
    }
  }
@media screen and (max-width: 800px) {

    .LogoText{
        font-size: 1.6em;
    }
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navlink {
    margin: 10px;
    font-family: 'Montserrat';
    font-size: 1.8em;
    transition: color 0.2s linear;
    text-decoration: none;
    color: peru;
}

.navlink:hover {
    color: white;
}

.link_active {
    color:white;
}

.line {
    height: 44px;
    width: 2px;
    background-color: #ACCCF1;
    margin-top: 3px;
}

.favor {
    text-align: center;
    font-size: 3.4em;
    padding-top: 40px;
}

.logo_img {
    max-width: 100%;
    max-width: 300px;
}

/* Cards */
.card {    
    background-color: rgb(29, 29, 29);
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.card_grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 1fr;
}

.contacs_grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 70em;
}

.faq_grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "up up"
    "lu ru"
    "ld rd";
    grid-template-columns: 1fr 1fr;
    min-height: 70em;
}

.alleft{
    text-align: left;
}

#card_up {
    grid-area: up;
}

.card > .text {
    text-align: center;
    line-height: 166.4%;
    margin: auto;
    padding: 10%;
    font-size: 1.6em;
}

.card a {
    text-decoration: none;
}

.card .right_img {
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    height: 500px;
}

.card h1 {
    font-family: 'Times new roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 4em;
    color: peru;
}

.backgroundContacts {
    background: url(../images/contacts.webp);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_background {    
    margin-left: 80px;
    margin-right: 80px;
    background: url("../images/about_us.webp");
    background-size: cover;
    background-position: center;
    height: 70em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alter_card {
    width: 70%;
    min-height: 50%;    
    line-height: 130%;    
    text-align: center;
    padding: 5%;
    font-size: 1.6em;
}

/* Card small */

.cards_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
    /* background-color: gray; */
    padding: 20px;
}

.cards_grid > div {
    background-color: rgb(29, 29, 29);
}

.cards_grid img {
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    height: 260px;
    
}

.cards_grid .text {
    font-size: 1.6em;
    text-align: center;
    line-height: 166.4%;
    margin: 20px;
    /* padding: 10px; */
}

.cards_grid .iner_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid_link {
    transition: color 0.2s linear;
    color: peru;
    text-decoration: none;
}

.grid_link:hover {
    color: white;
}

/*template styles*/

.card > .template_text{
    text-align: left;
    line-height: 166.4%;
    margin: auto;
    padding: 10%;
    font-size: 1.6em;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms_button {
    background: transparent;
    color: peru;
    font-size: 2.4em;
    width: 200px;
    height: 60px;
    border-radius: 6px;
}

.forms_button:hover {
    background-color: peru;
    color: white;
    transition: color 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .card .right_img {
        object-fit: cover;
        vertical-align: middle;
        width: 265px;
    }
}

@media screen and (max-width: 768px) {
    .alter_card {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card_grid {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    .header {
        padding-left: 0;
        padding-right: 0;
    }

    .navlink {
        margin: 5px;
    }

    .card {    
        margin-left: 0;
        margin-right: 0;
    }
    
    .about_background {    
        margin-left: 0;
        margin-right: 0;
    }
    
    .card > .text {
        line-height: 130%;
        padding: 1%;
        font-size: 1.3em;
    }

    .cards_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
        /* background-color: gray; */
        padding: 10px;
    }
    .card .right_img {
        object-fit: cover;
        vertical-align: middle;
        width: 100%;
        max-height: 250px;
        min-height: fit-content;
    }

    .card > .text {
        text-align: center;
        line-height: 166.4%;
        margin: auto;
        padding: 10%;
        font-size: 1.6em;
    }
}

@media screen and (max-width: 544px) {
    .LogoText {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: normal;
        font-size: 3em;
        color: white;
    }
    .header {
        background-color: black;
        min-width: 100%;
        min-height: 90px;
        z-index: 5000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .cards_grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
        /* background-color: gray; */
        padding: 5px;
    }
    
    .navlink {
        font-size: 1.3em;
        margin: 2px;
        text-align: center;
    }

    .card .right_img {
        object-fit: cover;
        vertical-align: middle;
        width: 100%;
        max-height: 250px;
        min-height: fit-content;
    }

    .alter_card {
        line-height: 120%;
    }
    
    .faq_grid {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }

    .card > .text {
        text-align: center;
        line-height: 166.4%;
        margin: auto;
        padding: 10%;
        font-size: 1.6em;
    }
}
